body {
  background-color: transparent;
  font-size: 13px;
  line-height: 20px;
  color: #353535;
}

h1, h2, h3 {
  letter-spacing: -1px;
}

h3 {
  font-size: 24px;
  text-transform: lowercase;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d1d1d1;
  line-height: 1em;
}

/*
=Header
*/
header {
  overflow: hidden;
  margin: 20px 0;
}

header h1 {
  background: url('../img/logo32x32.gif') no-repeat;
  /* width: 32px;
  height: 32px; */
  text-indent: -9999px;
  float: left;
  height: 32px;
}

/*
=Navigation
*/

nav {
  float: right;
}

nav li {
  display: inline;
}

nav a {
  text-transform: lowercase;
}
/*
Banner
*/

.banner {
  background-image: url('../img/bannerimage600x300.png');
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
}

.bannertext {
  color: #6495ED;
  font-size: 28px;
  max-width: 400px;
  bottom: 20px;
  background-color: #ffffe6;
  padding-top: 70px;
  line-height: 1.5;
  opacity: 0.75;
}

/*
Callout
*/

.callout {
    width: 231px;
    height: 200px;
    background-color: black;

}


/*
=miscalenous
*/
a {
  color: #737373;
  text-decoration: none;
}
a:hover, .selected{
  color: black;
  font-size: 16px;
}
li {
  margin-left: 20px;
}

.button {
  color: white;
  padding: 10px;
  background: #242424;
  text-transform: uppercase;
  font-size: 11px;
}

blockquote {
  position: relative;
  padding: 25px 25px 10px 10px;
}

blockquote, blockquote p {
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
}


blockquote p:first-child:before,
blockquote p:last-child:after {
    font-size: 40px;
    font-style: italic;
    color: #bfbfbf;
}

blockquote p:first-child:before {
  content: '“';
  position: absolute;
  top: 10px;
  left: 0;
}

blockquote p:last-child:after {
  content: '”';
  float: right;
  position: absolute;
  bottom: -5px;
  right: 0;
}
/*
=work
*/

.work h3 {
  font-size: 28px;
}

.work h4 {
  font-size: 18px;
  color: #787878;
  margin-top:  -10px;
}

.work img {
  margin-bottom: 10px;
}

/*
=footer
*/

footer {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}
